.root {
  min-height: calc(100vh - 82px);
  background: #1D1D1D;
}

.main-container {
  /* padding: 1.5em 50px; */
}

.ant-row-rtl #components-layout-demo-top .logo {
  float: right;
  margin: 16px 0 16px 24px;
}
